
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signUp{
    
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.no{
    display: none;
}