@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:math;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color:#003f62;
  font-family: monospace;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color:#003f62;
  margin: 15px 0 20px 0;
  font-family: monospace;
}

.section-p1 {
  /* padding: 40px 80px; */
  text-align: center;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body {
  width: 100%;
}

#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}



#productList{
  text-align: center;

}

#productList .pro-container{
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#productList .pro{
  width: 23%;
  min-width: 330px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px 20px;
  transition: 0.02s ease;
  position: relative;
}
#productList .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#productList .pro img{
  width: 59%;
  border-radius: 20px;
}

#productList .pro .des{
  text-align: start;
  padding: 10px 0;
}

#productList .pro .des span{
  color: #606060;
}

#productList .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#productList .pro .des i{
  font-size: 12px;
  color: #ffc64a;
}

#productList .pro .des h4{
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#productList .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid rgb(186, 223, 186);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* For smaller screens, adjust the width to fit fewer products in a row */
@media (max-width: 768px) {
  .pro {
      width: calc(50% - 20px);
  }
}


